<h1><%= @student.to_s %></h1>
<<<<<<< HEAD



  <% if @student.active == false %>
    <h1> "This student is currently inactive." </h1>
  <% else %>
    <h1> "This student is currently active." </h1>
  <% end %>
=======
<h1>student.first_name</h1>
<h1>student.last_name</h1>

if @student ==  
>>>>>>> 4c10c6a0beaa0ef7ebd91e31d24cdbf7fa6ae932
